body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 60px;
}
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}
a{
    text-decoration: none;
    color: black;
}
    ul{
        display: flex;
        list-style: none;
    }
     .classborder{
        border-right: 1px solid black; }
       
    .classborder{
        margin: 0px 20px;
    }
    main{
       display: flex;
       justify-content: center;
       align-items: center;
       margin-bottom: 20rem;
   }
    
    .main__photo_rais{
        width: 200px;
        height: 200Px;
        border-radius: 100%;
        margin-right: 30px;
        float:left;
         
    }
    .main__moi{
        width: 20rem;
    

    }
    h2{
        font-size: 2.5rem;
    }
    .main__boutton{
        display: flex;
        justify-content: space-between;
    }
    .main__boutton li{
        width: 100px;
        height: 100px;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        border-radius: 50%;
        border: 0.5 solid black;
        
    
    }
    .cv{
        background-color: goldenrod;
    }
    .projets{
        background-color:rgb(222, 56, 56);
    }
    .contact{
        background-color: darkturquoise;
    }
    footer{
        display: flex;
        justify-content: center;
        width: 95%;
        border-top: 1px solid #ffffff;
    }
    .footer__Rfooter{
        display: flex;
        width: 90%;
        justify-content: space-between;
    }
    .footer__title{
        font-weight: bolder;
        margin: 1rem 0rem;
    } 
    .footer__logo{
        display: flex;
        justify-content: space-between;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20rem; }
   .coordonées{
    float: left;
    justify-content: space-between;
   }
   .info{
    width: 20rem;
   }

   .envform{
    display: flex;
    justify-content: space-between;
} 
.title{
    font-weight: bolder;
    margin: 1rem 0rem;
}
.button
    {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 0.5 solid black;
        background-color: goldenrod;
    
    } 

    /*------------------responsives-----------------*/
   @media  screen and(max-width: 1024px){
    header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;

   } }
   @media  screen and (min-width: 768px) and (max-width:1023px){

    header{
        display: flex;
        justify-content:space-evenly;
        margin-bottom:1rem;
   }
   footer{
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid #ffffff;
}
.footer__Rfooter{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

}
@media screen and(max-width:767px){ 
 
         
    }

    

    


    
    
   
    
 

    

